@model MovieRatingSystem.ViewModels.MovieFormViewModel

<div class="form-group" id="actorcontainer">
    <label asp-for="Actor" class="control-label"></label>
    <input asp-for="Actor" class="form-control actor" id="actorField_0" />
</div>
<div class="form-group">
    <button type="button" class="btn btn-info" id="addActor">Add Actor</button>
</div>