@model MovieRatingSystem.ViewModels.MovieDetailsViewModel

@{
    var url = Context.Request.Path;
}

@if (Context.Request.Cookies[url] == null)
{
    <div id="ratingDiv">
        @for (var i = 1; i <= 5; i++)
        {
            <img src="~/images/emptyStar.png" width="25" class="ratingStar" data-value=i />
        }
    </div>


}
else
{

}

@section Scripts
{
    <script>
        var clickedFlag = false;

        var sourceSwap = function () {
            var $this = $(this);
            var newSource = $this.data('~/images/fullStar.png');
            $this.data('~/images/fullStar.png', $this.attr('src'));
            $this.attr('src', newSource);
        }

        $(function () {
            $('img.ratingStar').hover(sourceSwap, sourceSwap);
        });
    </script>
}