@model MovieRatingSystem.ViewModels.MovieIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Movie Dashboard</h1>

<div class="container-fluid">
    <form asp-page="/Index" method="get" class="">
        <div class="form-group">
            <p>
                Find by name:
                <input type="text" name="SearchString" value="@Model.SearchString" />
                <input type="submit" value="Search" class="btn btn-primary" asp-page="/Index"/> |
                <a asp-page="/Index">Back to full List</a>
            </p>
        </div>
    </form>
    <div class="row">
        @foreach (var item in Model.Movies)
        {
            <div class="col-md-2 movie-div">
                <a href="Movies/Details/@item.Id">
                    <img src="~/images/@item.ImgCode" align="middle" width="100" alt="ASP.NET" class="img-responsive" />
                </a>
                <div class="movie-title" align="center">
                    <a href="Movies/Details/@item.Id" class="movieNameLink"><strong>@item.Name</strong></a>
                </div>
            </div>
        }
    </div>
</div>
