@model MovieRatingSystem.ViewModels.Requests.MovieIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row rowtitle">
    <div class="col-sm-10 movieTitle">
        <h1>Movie Dashboard</h1>
    </div>
    <div class="col-sm-2 backToList">
        <input type="button" class="btn btn-secondary" value="Back to Dashboard" onclick="window.location='@Url.Action("Index", "Movies")'" />
    </div>
</div>
<div class="container-fluid">
    <form asp-page="/Index" method="get" class="">
        <div class="form-row">
            <input type="text" placeholder="Seatch by Name" name="SearchString" value="@Model.SearchString" />

            <div class="btn-group btn-group-justified">
                <input type="submit" value="Search" class="btn btn-primary" asp-page="/Index" />
                <input type="button" class="btn btn-primary" value="New Movie" onclick="window.location='@Url.Action("Create", "Movies")'" />
            </div>
        </div>
    </form>
    <div class="row">
        @foreach (var item in Model.Movies)
        {
            <div class="col-md-2 movie-div">
                <a href="Movies/Details/@item.Id">
                    <img src="~/images/@item.ImgCode" align="middle" width="100" alt="ASP.NET" class="img-responsive" />
                </a>
                <div class="movie-title" align="center">
                    <a href="Movies/Details/@item.Id" class="movieNameLink"><strong>@item.Name</strong></a>
                </div>
            </div>
        }
    </div>
</div>
